<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h4>App Name</h4>
				<ul>
					<li> <a href="#">About</a> </li>
					<li> <a href="#">Contact</a> </li>
					<li> <a href="#">Products</a> </li>
				</ul>
			</div>
			<div class="col-md-4">
				<h4>Products</h4>
				<ul>
					<li> <a href="#">product1</a> </li>
					<li> <a href="#">product2</a> </li>
					<li> <a href="#">product3</a> </li>
				</ul>
			</div>
			<div class="col-md-4">
				<h4>Social</h4>
				
				<a href="#"><i class="fa fa-facebook fa-2x"></i></a>
				<a href="#"><i class="fa fa-twitter fa-2x"></i></a>
				<a href="#"><i class="fa fa-google fa-2x"></i>

				</div>
			</div>
</footer>