<div class="page-header">
    <p>
        <input type="text" ng-model="search" placeholder="Type your entry">
        <input type="submit" value="Add" class="btn btn-primary">
    </p>
</div>
<div class="row">
    <div class="col-md-6">
        <div ng-repeat="group in alphabets">
            <h2 class="group">
	        {{group.group}} <small>{{prizes[$index]}} </small>
	        </h2>
            <div class="input-group">
                <span ng-repeat="entry in group.entries">
            	<input type="checkbox" value="{{entry}}"> {{entry}} &nbsp;
            	</span>
            </div>
        </div>
    </div>
</div>
