<div class="page-header">
	<h2>What is Monopoly Checker for?</h1>
	<p><a href="https://www.playmonopoly.us/">Monopoly</a> is an in-grocery program that runs from February 3, 2016 through May 3, 2016. Frustated by spending too much trying to keep track of the Monopoly tickets, I created this <strong>Monopoly Checker</strong> as a tool in order to:  </p>

	<div class="row">
		<div class="col-md-6">
			<ul>
				<li>Save time by quickly locating the ticket numbers</li>
				<li>Keep track of your Monopoly board games</li>
				<li>Reduce the chance of losing the winning tickets due to confusing nature of the ticket numbers</li>
				<li>Quicky display the winning results</li>
			</ul>
		</div>
		<div class="col-md-6">
			<img src="img/img1.jpg" alt="picture of ticket" />
		</div>
	</div>

	<div class="row">
		<p><u>Notice</u></p>
		<p>I am not in any way associated with this program. As a developer, I always want to build something that will solve common problems, and save us time.</p>
		<p>The application uses a local storage in the browser to save your data, so the data is not collected by our application and it only lives within the users' browser. It also means that the data won't be transferred from desktop to mobile browser, and vice versa, unless users use export and import tools in the application.</p>

	</div>
	


</div>